/* ======= Modal ======= */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-body {
    background-color: var(--item-box);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--secondary);
    width: 80%;
    max-width: 660px;
    max-height: 460px;
    min-height: fit-content;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.judul-head-modal,
.closeModal {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text);
}

.closeModal {
    cursor: pointer;
}

.closeModal:hover,
.closeModal:focus {
    color: var(--primary);
    text-decoration: none;
}

.modal-content {
    width: 100%;
    max-height: calc(460px - 80px);
    min-height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-content::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: transparent;
}

.modal-content::-webkit-scrollbar-track {
    background: transparent;
}

.modal-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-top: 5px;
}

.btn-close,
.btn-simpan,
.btn-reset {
    width: 100%;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
}

.btn-close {
    background-color: var(--text);
    color: var(--background);
}

.btn-simpan {
    background-color: var(--primary);
    color: var(--background);
}

.btn-reset {
    background-color: var(--text);
    color: var(--background);
}

/* ======= Grid Body ======= */
.grid-body {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "logo topbar profile"
        "menu konten profile"
        "menu footer profile";
}

/* Left Sidebar */
.grid-left-sidebar,
.grid-right-sidebar {
    width: 100%;
    max-width: 210px;
    height: calc(100vh - 40px);
    background-color: var(--item-box);
    border-radius: 16px;
    padding: 20px;
}

.grid-left-sidebar {
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-left-sidebar .left-logo {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.left-logo img#favSidebar {
    width: 50px;
    height: 50px;
}

.left-logo .sidebar-nama {
    font-size: 16px;
    font-weight: bold;
    color: var(--text);
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 120px);
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-menu::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.sidebar-menu::-webkit-scrollbar-thumb {
    background: transparent;
}

.sidebar-menu::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-menu .sidebar-item {
    width: 100%;
    margin-bottom: 10px;
}

.sidebar-item .sidebar-link,
.sidebar-item .sidebar-menu-aktif {
    color: var(--text);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-item .sidebar-menu-aktif {
    color: var(--background);
    background-color: var(--primary);
}

.sidebar-item .sidebar-link:hover,
.sidebar-item .sidebar-menu-aktif:hover {
    color: var(--background);
    padding: 5px 10px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-link .icon-sidebar,
.sidebar-link .nama-sidebar,
.sidebar-link .toggle-arrow {
    font-size: 16px;
}

.sidebar-menu-aktif .icon-sidebar,
.sidebar-menu-aktif .nama-sidebar,
.sidebar-menu-aktif .toggle-arrow {
    font-weight: bold;
}

.sidebar-link .nama-sidebar {
    flex: 1;
    white-space: nowrap;
}

.sidebar-link .icon-sidebar {
    margin-right: 10px;
    display: inline-block;
}

.toggle-arrow {
    font-size: 0.8rem;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

.collapse-menu {
    display: none;
}

.collapse-menu.show {
    display: block;
    animation: slideDown 0.3s ease-in-out;
}

.sidebar-submenu {
    list-style: none;
    margin: 10px 30px;
    padding: 0;
    width: 100%;
}

.sidebar-submenu .sub-item {
    margin-bottom: 10px;
}

.sub-item .sub-link {
    font-size: 12px;
    color: var(--text);
}

.sub-item .sidebar-submenu-aktif {
    font-size: 12px;
    color: var(--primary);
}

.sub-item .sub-link:hover,
.sub-item .sidebar-submenu-aktif:hover {
    font-size: 12px;
    color: var(--secondary);
}

.grid-left-sidebar .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 16px;
    color: var(--text);
}

/* Main */
.grid-main {
    width: calc(1280px - 550px);
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    padding: 20px 10px;
}

/* Topbar Main */
.topbar-main {
    width: 100%;
    max-width: calc(1280px - 550px);
    height: 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: var(--background);
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.topbar-main::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.topbar-main::-webkit-scrollbar-thumb {
    background: transparent;
}

.topbar-main::-webkit-scrollbar-track {
    background: transparent;
}

.topbar-main .crew-online,
.topbar-main .crew-aktif {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
}

.topbar-main .crew-online {
    border: 2px solid var(--primary);
}

.topbar-main .crew-aktif {
    border: 2px solid var(--success);
}

.crew-online #crewAvatar,
.crew-aktif #crewAvatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-git: cover;
}

/* Main Konten */
main {
    margin: 60px 0px 10px 0px;
    width: 100%;
    max-width: calc(1280px - 550px);
    height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
}

main::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

main::-webkit-scrollbar-thumb {
    background: transparent;
}

main::-webkit-scrollbar-track {
    background: transparent;
}

.according-halaman {
    font-size: 12px;
    color: var(--text);
}

.according-target {
    font-size: 12px;
    font-weight: bold;
    color: var(--primary);
}

.d-flex {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.box-item {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-right: 10px;
    border-radius: 16px;
    background-color: var(--item-box);
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2);
}

.box-item .head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.head-box .judul-box {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tbl-tambah {
    padding: 3px 8px;
    border: 0px;
    border-radius: 10px;
    background-color: var(--primary);
    margin-bottom: 10px;
    cursor: pointer;
}

.icons-tombol {
    font-size: 12px;
    color: var(--background);
}

.box-item .body-box {
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.box-item .body-box::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.box-item .body-box::-webkit-scrollbar-thumb {
    background: transparent;
}

.box-item .body-box::-webkit-scrollbar-track {
    background: transparent;
}

.table-responsive {
    width: 100%;
    height: 100%;
}

.table-responsive table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    color: var(--background);
    background-color: var(--primary);
    font-size: 16px;
    font-weight: bold;
}

thead th {
    text-align: center;
    vertical-align: middle;
}

table tbody {
    font-size: 12px;
    color: var(--text);
    font-weight: normal;
}

tbody td {
    vertical-align: middle;
}

.icons-table {
    margin-right: 10px;
}

.tbl-edit {
    padding: 5px 10px;
    border: 0px;
    background-color: var(--warning);
    color: var(--text);
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

form .form-group {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-size: 12px;
    font-weight: normal;
    color: var(--text);
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--secondary);
    border-radius: 7px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    display: block;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px rgba(28, 29, 30, 0.5);
}

.form-group #p_logo,
.form-group #p_fav {
    margin: 5px 0px;
    width: auto;
    height: 50px;
}

.form-group #p_bc,
.form-group #p_login {
    margin: 5px 0px;
    width: auto;
    height: 100px;
}

.text-danger {
    color: var(--primary);
    font-size: 10px;
    font-weight: normal;
}

/* Footer */
.grid-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: calc(1280px - 550px);
    height: 20px;
    font-size: 12px;
    font-weight: normal;
    color: var(--text);
}

/* Right Sidebar */
.grid-right-sidebar {
    box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.2);
}
