/* Import SF Compact font */
@font-face {
    font-family: "SF Compact";
    src: url("/plugin/font/SF-Compact-Text-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF Compact";
    src: url("/plugin/font/SF-Compact-Display-Black.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Light Mode */
:root {
    --primary: #e74c3c;
    --secondary: #34495e;
    --background: #ffffff;
    --item-box: #f2f2f2;
    --hover: #ec7063;
    --danger: #c0392b;
    --warning: #f39c12;
    --success: #27ae60;
    --info: #2980b9;
    --text: #000;
}

/* Dark Mode */
[data-theme="dark"] {
    --primary: #e74c3c;
    --secondary: #ecf0f1;
    --background: #2c3e50;
    --item-box: #34495e;
    --hover: #ec7063;
    --danger: #c0392b;
    --warning: #f39c12;
    --success: #27ae60;
    --info: #3498db;
    --text: #ecf0f1;
}

body {
    margin: 0;
    font-family: "SF Compact", sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}

h1,
h2,
h3,
h4,
p {
    color: var(--text);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--text);
}

/* ======= ANIMATIONS ======= */
/* Animasi slide down */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
